<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646">
          <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
            maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
           <security mode="None"><transport clientCredentialType="None" /></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="WCFServer.RemoteService">
        <endpoint name="RemoteServiceEndpoint" contract="WCFServer.IRemoteService" binding="wsHttpBinding"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
